.block {
    background-color: white;

   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   
    border-style: solid;
    border-color: #eeeeee;
    border-width: 0px;
    border-top-width: 1px;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    justify-content: stretch;
    padding: 4vmin;
    cursor: pointer;

}

.block:hover {
    background-color: #E7E6EC;
}

.block:active {
    background-color: #d9d7df;
}



.headertext {
    font-size: var(--h1);
    margin: 0px;  
    bottom: 0px;
    font-style: normal;
    font-weight: normal;
    color: #007aff;

    flex-grow: 1;
   

}

.headertextsmall {

    font-size: 10px;
    bottom: 0px;
    
}

.subtext {
    font-size: 10px;
    opacity: 50%;
}

.interact{
    font-size: var(--h1);
    cursor: pointer;
    background-color: transparent;
    font-weight: 100;
    color: #C6C4C7;
    border-width: 0px;
    justify-content: flex-end;
    align-self: center;
}


